body{
    background-color: rgb(190, 121, 179);
    font-family: 'Poppins', sans-serif;
    background-image: url('./walle.jpg');
    background-repeat: no-repeat;

    background-size: cover;
    
}



form{
    color:white;
   
    width: 20%;
    height: 410px;
    margin-left: 38%;
    margin-top: 10%;
    font-size: medium;
    opacity: 0.9;
    
  
}
 #container{
padding-top: 12px;
padding-left: 40px;
background-color: black;
border-radius: 2px;

}
a{
    color:grey;
 
   text-decoration: none;
   
   
}
#first{
    margin-top: 8px;
    color: grey;
    font-size: small;
    border: none;
    margin-left: 46%;

}
#Login{
    margin-left: 58px;
   
   
    font-style: normal;
    
}

button{
    margin-left:10px;
    margin-top: 23px;
    width: 80%;
    padding-left: 12px;
    padding-top: 6px;
    font-size: medium;
    padding-bottom: 4px;
    border-radius: 23px;
    background-color: red;
    
}
input[type = "text"],input[type = "password"]{
   color:white;
    border: none;
    margin-top: 10px;
 padding-bottom: 8px;
    outline: none;
    background-color: transparent;
  
    border-bottom: 2px solid grey;
    width: 80%;
    font-size: 14px;
    
    
}
label {
    font-size: 20px;
    font-style: bold;
    padding:auto;
    font-weight: 500;
    
}
button:hover{
    background-color: orangered;
}
p{
    margin-left: 68px;
    color:grey
}
#logo{
    margin-left: 58px;
}
